.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-text {
  text-shadow: 2px 2px 5px #000000;
  -webkit-text-fill-color: transparent;
  font-weight: 200;
}
