.card-image {
  height: 200px;
  width: 200px;
}

.card-stacked {
  width: 33.333%;
  height: 500px;
  overflow-y: scroll;
}

.beerImg img {
  height: 250%;
  width: 100px;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-child {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-left: 2%;
}
